select {
    width: 100px;
    border: 0;
    box-shadow: 0px 2px 5px grey;
    padding: 7px;
    border-radius: 5px;
    margin-left: 20px;
}

select:hover {
    box-shadow: 0px 2px 10px grey;
}

select:active {
    background-color: lightgray;
}

select:focus {
    outline: none;
    box-shadow: 0px 2px 10px dodgerblue;
}