body {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.parallax {
    background-color: black;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    opacity: 0.8;
}

.parallax p {
    color: white;
    position: absolute;
    text-shadow: 0 0 3px black;
}