body {
    font-family: monospace;
    margin: 0;
}

.center {
    text-align: center;
}

.card {
    
}

img {
    width: 100%;
}

table {
    border: 1px solid black;
    width: min(300px, 90%);
    margin: auto;
    border-radius: 5px;
    background-color: white;
    box-shadow: 
        inset 0 0 40px rgb(165, 215, 255),
        inset 0 0 10px rgb(36, 136, 161),
        0 0 10px rgba(109, 148, 153, 0.39);

}