body {
    font-family: monospace;
    margin: 0;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.myname {
    font-size: 3em;
    font-family: monospace;
}

.below-myname {
    font-size: 1.5em;
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.527);
}

.t42 {
    width: 1.4em;
    margin-left: 20px;
    transform: translateY(5px);
    transition: filter 0.2s ease-out;
}

.t42:hover {
    filter: invert(36%) sepia(98%) saturate(500%) hue-rotate(500deg);
}

.center {
    text-align: center;
}

.third-myname {
    font-size: 1.5em;
}

.pfp {
    background-image: linear-gradient(45deg, #b6f3fd, transparent);
    animation: fadeinout 6s ease-in-out infinite alternate;
    corner-shape: bevel;
    border-radius: 0 18px 0 18px;
}

.pfp img {
    position: relative;
    width: 100%;
    max-height: 220px;
    overflow: visible;
    object-fit: cover;
    animation: updown 3s ease-in-out infinite alternate;
    filter: drop-shadow(3px 3px 2px rgba(95, 99, 117, 0.6));
}

@keyframes updown {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-10px);
    }
}

@keyframes fadeinout {
    from {
        background-color: #b6dbfd;
    }
    to {
        background-color: transparent;
    }
}

table {
    border: 1px solid rgb(75, 201, 190);
    width: min(330px, 90%);
    margin: auto;
    background-color: white;
    border-radius: 5px 20px 5px 20px;
    corner-shape: bevel;
    box-shadow: 
    inset 0 0 90px rgb(223, 241, 255),
        inset 0 0 40px rgb(213, 227, 231),
        inset 0 0 10px rgb(4, 168, 209),
        0 0 10px rgba(146, 167, 170, 0.678);
    border-spacing: 7px;
}

svg {
    width: 24px;
    fill: rgb(58, 77, 80);
    transition: fill 0.2s ease-out, transform 0.2s ease-out;
}

svg:hover {
    fill: rgb(4, 168, 209);
    transform: translateY(-3px);
}

.contact {
    font-family: monospace;
    font-size: 1.5em;
    appearance: none;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    background-image: linear-gradient(to right, rgb(4, 168, 209), rgb(110, 221, 248));
    corner-shape: bevel;
    border-radius: 0 0 3px 18px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
    transition: opacity 0.2s ease-out,
        text-shadow 0.2s ease-out;
}

.contact:hover {
    opacity: 0.7;
    text-shadow: 0 0 10px white;
    border: none;
}

.contact:active {
    opacity: 1;
    border: 2px solid rgb(77, 184, 211);
}

