body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 100vw;
    height: 100vh;
}
td {
    border: 1px solid black;
}
.green {
    background-color: #c3c77e;
    width: 50%;
}
.red {
    background-color: #f9c4af;
    width: 50%;
}